body{
   background:  url("/img/main-wallpaper.png") ;
   background-size: cover;
   height: 85vh;
}

.title{
    font-family:'Computer Says No', Arial, sans-serif;
    font-size: 242%;
    margin: 3.5rem; 
}

.about-project{
    font-family:'Computer Says No', Arial, sans-serif;
    display: flex;
    align-items: center;
    font-size: 115%;
    margin: 3.5rem;
    line-height: 2em;
    grid-gap: 40px;
}

.about-project .preview-project{
    font-family:'Computer Says No', Arial, sans-serif;
    text-align: justify;
}
.about-image-mobile{
    display: none;
}

@media (max-width: 850px){
    .about-project{
        flex-direction: column;
    }
    .about-image{
        display: none;
    }
    .about-image-mobile{
        display: block;
    }
    .about-image-mobile .about-img-mobile{
        margin: 50px;
        width: 40vh;
        border-radius: 25px;
    }
    
}    
