.txt_field {
    font-family:'Computer Says No', Arial, sans-serif;
    font-size: 97%;
    width: 600px;
    padding: 7px 50px;
    border: 7px solid #D9D9D9;
    border-radius: 20px;
    margin: 10px;
    position: absolute;
    right: 62%;
    top: 43%;
    transform: translate(38%, -15%);
}
