*{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
    font-family:'Computer Says No', Arial, sans-serif;
    background:  url("/img/main-wallpaper.png") ;
    height: 70vh;
    text-align: center;
    align-items: center;
 }

 .title{
    font-family:'Computer Says No', Arial, sans-serif;
    font-size: 107%;
    margin: 0.7rem; 
}

a{
   color: rgba(228, 85, 168, 0.712); 
   text-decoration: none;
   transition: 0.5s ease;
   font-weight: bold;
}
a:hover{
    opacity: 0.5;
}
.botao-home{
    display: flex;
    grid-gap: 10px;
    padding: 2rem 5rem;
}
.botao-home .bt-home{
    cursor:pointer;
}
.seta {
    padding: 10px;
    box-shadow: 2px -2px 0 1px rgba(227, 25, 143, 0.879) inset;
    border: solid transparent;
    border-width: 0 0 2px 2px;
    transform: rotate(45deg);
}

.img-logo{
    height: 25vh;
    margin-top: 3vh;
}

.nav-bar{
    background:  url("/img/main-wallpaper.png");
    display: block;  
    height: 25vh; /*se ajusta a janela de visualização do usuario*/
}
.login{ 
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

button {
    background-color: rgba(162, 157, 170, 0.459);
    padding: 3px 20px;
    border: 7px solid transparent;
    border-radius: 20px;
}

button:hover {
    background-color: rgba(228, 85, 168, 0.712);
    cursor: pointer;
}

.link-criar-conta{
    display: flex;
    flex-direction: column;
    padding: 2rem 5rem;
}


