*{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background:  url("/img/main-wallpaper.png") ;
    height: 70vh;
    text-align: center;
    align-items: center;
 }
a{
   color: rgb(81, 18, 182); 
   text-decoration: none;
   transition: 0.5s ease;
   font-weight: bold;
}
a:hover{
    opacity: 0.5;
}
.botao-home{
    display: flex;
    grid-gap: 10px;
    padding: 2rem 5rem;
}
.botao-home .bt-home{
    cursor:pointer;
}
.seta {
    padding: 10px;
    box-shadow: 2px -2px 0 1px rgb(81, 18, 182) inset;
    border: solid transparent;
    border-width: 0 0 2px 2px;
    transform: rotate(45deg);
}

.img-logo{
    height: 25vh;
    margin-top: 3vh;
}

.nav-bar{
    background:  url("/img/main-wallpaper.png");
    display: block;  
    height: 25vh; /*se ajusta a janela de visualização do usuario*/
}
.login{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

button {
    background-color: rgb(162, 157, 170);
    padding: 3px 20px;
    border: 7px solid transparent;
    border-radius: 20px;
}

button:hover {
    background-color: rgb(182, 18, 114);
    cursor: pointer;
}

.link-criar-conta{
    display: flex;
    flex-direction: column;
    padding: 2rem 5rem;
}


