body {
    font-family:'Computer Says No', Arial, sans-serif;
    font-size: 107%;
    background-image:url("/img/main-wallpaper.png");
}

.botao_home{
    text-align: right;
}
.bt_home {
    text-decoration: none;
}
.logo{
    text-align: center;
    padding-top: 1.0rem;
}

.img_logo{
    width: 40%;
}
.signup label{
    padding: 1.0rem 1.0rem;
}
.bt_retorna_pag {
    display: flex;
    align-items: center;
    padding: 0.5rem 3rem;
    justify-content: space-between;
}

.bt_retorna_pag a{
    text-decoration: none;
    padding: 0.5rem 1rem;
}

button{
    background-color:#eaa1bc;
    padding: 3px 20px;
    border: 7px solid transparent;
    border-radius: 20px;
    margin-top: 1em;
}

@media screen and (min-width: 600px){
    .bt_retorna_pag{
        justify-content: center;
    }
    .bt_retorna_pag a{
        text-decoration: none;
        padding: 0.5rem 1rem;
    }
    button{
        background-color:#eaa1bc;
        padding: 7px 25px;
        font-size: 120%;
    }
}
