.input-box {
    font-family:'Computer Says No', Arial, sans-serif;
    font-size: 97%;
    width: 600px;
    padding: 7px 50px;
    border: 7px solid #D9D9D9;
    border-radius: 20px;
}

.output-box {
    font-family:'Computer Says No', Arial, sans-serif;
    font-size: 97%;
    width: 600px;
    padding: 7px 50px;
    border: 7px solid #D9D9D9;
    border-radius: 20px;
}
